<% content_for :title do %><%= @page.title %><% end %>

<% content_for :extra_head do %>
    <script type="text/javascript">
        $(function()  {
            $('h2:first').addClass('b-section-title');
        });
    </script>
<% end %>

<% content_for :body do %>
    <div class="b-back-link">
        <%= link_to 'Пресса о нас', presses_path() %>
    </div>

    <h2><%= @page.title.html_safe %></h2>
    <%= @page.content.html_safe %>

    <div class="b-back-link">
        <%= link_to 'Пресса о нас', presses_path() %>
    </div>
<% end %>

<%= render :template => 'layouts/layout' %>