<% content_for :title do %><%= @page.title %><% end %>

<% content_for :extra_head do %>
    <script type="text/javascript">
      $(function() {
        slideShow.init();
        $('ul.b-main-menu li#menu_<%= @page.slug %> a.link').addClass('selected');
      });
    </script>
<% end %>

<% content_for :top do %>
    <% if @page.top_left %>
        <%= @page.top.html_safe %>
    <% end %>
    <% if @page.top_left %>
        <div class="l-wrapper">
            <div class="l-column-540">
                <%= @page.top_left.html_safe %>
            </div>
            <% if @page.top_right %>
                <div class="l-column-140">
                    <%= @page.top_right.html_safe %>
                </div>
            <% end %>
        </div>
    <% end %>
<% end %>

<% content_for :body do %>
    <%= @page.content.html_safe %>
<% end %>

<% content_for :press do %>
    <div class="b-outro">
        <h2 class="b-less-title b-first-title">Пресса о нас</h2>
        <%= render "layouts/press" %>
    </div>
<% end %>

<%= render :template => 'layouts/layout' %>