<ul class="b-press">
    <% @presses.each do |press| %>
        <li class="item">
            <span class="instead-link">
                <% if press.image.url %>
                    <% if press.content %>
                        <%= link_to image_tag(press.image.url), press %>
                    <% else %>
                        <% if press.link != '' %>
                            <%= link_to image_tag(press.image.url), press.link %>
                        <% else %>
                            <%= image_tag press.image.url %>
                        <% end %>
                    <% end %>
                <% end %>
                <div class="date"><%= l press.date, :format => "%e %B %Y"  %></div>
                <h3 class="title">
                    <% if press.content %>
                        <%= link_to press.title, press %> (статья)
                    <% else %>
                        <% if press.link != '' %>
                            <%= link_to press.title, press.link %>
                        <% else %>
                            <%= press.title %>
                        <% end %>
                    <% end %>
                </h3>
            </span>
        </li>
    <% end %>
</ul>