<ul class="b-press">
    <% @presses.each do |press| %>
        <li class="item">

            <% if press.content %>
                <a class="link" href="<%= press_path(press) %>">
            <% else %>
                <% if press.link != '' %>
                    <a class="link" href="<%= press.link %>">
                <% end %>
            <% end %>

                <% if press.image.url %>
                    <%= image_tag press.image.url %>
                <% end %>
                <div class="date"><%= l press.date, :format => "%e %B %Y"  %></div>
                <h3 class="title">
                    <%= press.title %>
                </h3>

            <% if press.content or press.link != '' %>
                </a>
            <% end %>

            <% if press.content %>
                (статья)
            <% end %>
        </li>
    <% end %>
</ul>